<!DOCTYPE html>
<html>
  <head>
    <title>Alleyoop</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://use.fontawesome.com/ea8b65cfb8.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>

    <div class="container">
      <%= yield %>
    </div>



  </body>
</html>
